attrs==19.1.0
bson==0.5.8
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.4
filelock==3.0.12
idna==2.8
importlib-metadata==0.19
oauthlib==3.1.0
packaging==19.1
pluggy==0.12.0
py==1.8.0
pymongo==3.9.0
pyparsing==2.4.2
python-dateutil==2.8.0
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
robotframework==3.1.2
robotframework-extendedrequestslibrary==0.5.5
robotframework-mongodb-library==3.2
robotframework-requests==0.5.0
six==1.12.0
toml==0.10.0
tox==3.13.2
urllib3==1.25.3
virtualenv==16.7.2
zipp==0.5.2
